.app {
    &-root {
        font-family: 'Roboto', sans-serif;
        padding-right: 2rem;
        padding-left: 2rem;
        background-image: url('../images/book-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 98vh;
    }
}

.navbar {
    background-color: rgb(49, 150, 175) !important;
    &-link {
        text-decoration: none;
        color: white;
    }
}

a.active {
  color: black;
}

nav {
  padding-top: 5px;
  padding-left: 30px;
}

// #homecard {
//   width: 80%;
//   background-color: lightblue;
//   text-align: center;
//   height: 240px;
//   margin-top: 5px;
//   margin: 0 auto
// }

// #aboutcard {
//   width: 80%;
//   background-color: lightblue;
//   text-align: center;
//   height: 300px;
//   margin-top: 250px;
//   margin: 0 auto
// }

// #signupcard {
//   width: 40%;
//   margin: 0 auto;
//   margin-top: 7px;
// }

// #card-alert {
//   width: 50%;
//   margin: 0 auto;
// }

// #dismissSignup {
//   background-color: black;
// }

// #logincard {
//   width: 40%;
//   margin: 0 auto;
//   height: 250px;
//   margin-top: 100px
// }

// #displayDocModal {
//     width: 75% !important;
//     max-height: 80vh !important;
// }

.dashboard, .document-page{
  height: 100vh;
}

.menu-action-buttons {
  right: 100px;
}

.user-collection-item, .doc-collection .doc-collection-item {
  display: flex;
  margin-bottom: 0;
}
.user-collection-item .name, .user-collection-item .email, .user-collection-item .role  {
  margin-top: 7px;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.user-buttons .btn {
  padding: 0 0.7rem;
}

.manage-user {
  display: flex;
}

.manage-user .user-list {
  flex-grow: 2;
}

#docsSearchModal {
  min-height: 400px;
}

.leftsearchbox {
  background-color: white;
  margin-top: 22px;
}

.input-field input[type=search] {
    margin-bottom: 0;
    padding-left: 5px;
    color: black;
    font-size: 18px;
}

/*.input-field input[type=search]:disabled {
    background-color: blue-grey;
}*/

