.app {
    &-root {
        font-family: 'Roboto', sans-serif;
        padding-right: 2rem;
        padding-left: 2rem;
        background-image: url('../images/book-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 98vh;
        overflow: hidden;
    }
}

.navbar {
    background-color: rgb(49, 150, 175) !important;
    &-link {
        text-decoration: none;
        color: white;
    }
}

.auth {
    &-panel {
        // height: 100%;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 25rem;
        width: 35rem;
        padding: 2rem;

        background-color: #CDCDCD;

        margin: 0 auto;
        margin-top: 5rem;
        overflow: hidden;
        box-shadow: 0 10px 6px -6px #777;

        &-login {
            height: 20rem;
        }
    }

    &-input {
        &-box {
            width: 25rem;
            outline: none;
            border-radius: 2rem;
            border: none;
            font-size: 1rem;
            padding-left: 0.8rem;
            height: 2.5rem;
        }
    }
}

.input {
    &-field {
        max-width: 70%;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;

        &-icon {
            margin-right: 0.5rem;
        }
    }
}

a.active {
  color: black;
}

nav {
  padding-top: 5px;
  padding-left: 30px;
}

.btn {

    &-default {
        background-color: rgb(49, 150, 175);
        height: 2.7rem;
        width: 7rem;

        border-radius: 0.8rem;
        border: none;
        outline: none;

        font-size: 1rem;
        font-weight: 600;

        color: #fff;

        letter-spacing: 2px;

        box-shadow: rgba(31, 78, 73, 0.5) 0px 10px 30px -8px;

        &:disabled {
            background-color: grey;
            box-shadow: none;

            &:hover {
                box-shadow: none;
                font-size: 1rem;
                width: 7rem;
            }
        }

        &:hover {
            font-size: 1.2rem;
            width: 9rem;

            box-shadow: rgba(31, 78, 73, 0.5) 3px 10px 50px -4px;
        }
    }
}

.create-document {
  &__button {
    height: 5rem !important;
    width: 5rem !important;
    float: right;
    text-emphasis: none;
    color: rgb(49, 150, 175);
  }
}
