/*Styles*/
#app {
  font: 'Roboto', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

a.active {
  color: black;
}

nav {
  padding-top: 5px;
  padding-left: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  width: 100%
}


/*.login-form {
    transition: box-shadow .25s;
    padding: 20px;
    border-radius: 2px;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}*/

#homecard {
  width: 80%;
  background-color: lightblue;
  text-align: center;
  height: 240px;
  margin-top: 5px;
  margin: 0 auto
}

#aboutcard {
  width: 50%;
  background-color: lightblue;
  text-align: center;
  height: 260px;
  margin-top: 7px;
  margin: 0 auto
}

#signupcard {
  width: 40%;
  margin: 0 auto;
  margin-top: 7px;
}

#card-alert {
  width: 50%;
  margin: 0 auto;
}

#dismissSignup {
  background-color: black;
}

#logincard {
  width: 40%;
  margin: 0 auto;
  height: 250px;
  margin-top: 100px
}


