/*Styles*/
#app {
  font: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: darkblue;
}

nav {
  padding-top: 5px;
  padding-left: 30px;
}
