.users {
  &-root {
    overflow: scroll;
    height: 80%;
  }
}

.roles {
  &-root {
    overflow: scroll;
    height: 80%;
  }
}

.role {
    &-date {
        color: rgb(80, 143, 202);
        font-style: italic;
        font-size: 0.8rem !important;
    }

    &-title {
        font-weight: bold !important;
        text-transform: uppercase;

        &__wrapper {
            font-size: 1.5rem !important;
        }
    }

    &-id {
        font-weight: bold !important;

        &__wrapper {
            font-size: 1rem !important;
        }
    }

    &-card {
        min-width: 275;

        @media all and (max-width: 300px) {
            // margin-bottom: .5em;
            min-width: 275px !important;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media all and (max-width: 300px) {
                // margin-bottom: .5em;
            }
        }
    }
}
