.textfield {
    &-root {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    &-icon {
        margin-right: 0.5rem;
    }
}