.document {
  &-root {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #CDCDCD;
    height: 70%;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-input {
      width: 25rem;
      outline: none;
      border: none;
      border-radius: 0.6rem;
      font-size: 1rem;
      padding-left: 0.8rem;
      height: 2.5rem;
    }

    &__select {
      width: 15rem;
      border: none;
      height: 2rem;
      outline: none;

      &__wrapper {
        width: 15rem;
        height: 2rem;
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-top: 1rem;

      }
    }

    &__button {
      width: 15rem !important;
      margin: 4px auto;
    }
  }

  &-card {
      &__body {
          max-height: 5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          font-style: italic;
          font-size: 0.8rem;
      }

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;

          &__text {
            font-size: 1.5rem !important;
            font-weight: bold !important;
          }
      }
  }
}
